@import "src/assets/styles/mixins";

.VariantList {
  .container {
    @include mobile() {
      width: 100vw;
    }
    &-item {
      @include mobile() {
        &:nth-child(n) {
          $side-margin: calc((100vw - 1 * 312px) / 2);
          margin: 0 $side-margin 72px $side-margin;
        };
      }

      @include tablet() {
        &:nth-child(n) {
          $side-margin: calc((80vw - 2 * 312px) / 4);
          margin: 0 $side-margin 72px $side-margin;
        }
      }

      @include desktop() {
        &:nth-child(n) {
          $side-margin: calc((80vw - 3 * 312px) / 6);
          margin: 0 $side-margin 72px $side-margin;
        }
      }
    }
  }
}